<!DOCTYPE html>
<html>
	<head>
		<title>ClarityCare | Discharge Planning. Simplified.</title>
    <meta name="description" content="Clarity Care is a product that is coming soon!" property="description"></meta>
    <meta name="keywords" content="Clarity Care, Product, launchrock" property="keywords"></meta>
    <meta name="canonical" content="http://claritycare.io/" property="canonical"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1" property="viewport"></meta>
    <meta name="og:title" content="Clarity Care" property="og:title"></meta>
    <meta name="og:description" content="Clarity Care is a product that is coming soon!" property="og:description"></meta>
    <meta name="og:image" content="https://s3.amazonaws.com/media.launchrock.com/assets/sites/site-62qft3ksxdmtqw9czmtqkq8pi/screenshot-62qft3ksxdmtqw9czmtqkq8pi-1472505618.jpg" property="og:image"></meta>
    <link rel="icon" href="img/clarity-care-mark.png"></link>
    <link type="text/css" rel="stylesheet" href="css/vendor-styles.css">
    <link type="text/css" rel="stylesheet" href="css/styles.css">
    <link href="css/site.css" type="text/css" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
		<style>
			.site-block--euiz11z19rm5mk4lh1tjmgdys .site-block__col--0 {
				background: #111;
				border-color: #000;
			}
			.color--4 {
				color: #666;
			}
			.product-name {
				font-size: 60px;
				line-height: 120px;
			  font-weight: bold !important;
				font-family: 'Open Sans', sans-serif;
				color: #35a5d9;
			}
			.lr-site p {
				font-size: 20px;
				margin: 30px 0;
				font-family: 'Open Sans', sans-serif;
			}
			.stock-photo {
				background-image: url('img/doctor.jpg') !important;
			}
		</style>
  </head>
	<body class="lr-site">
		<div id="lr-site-app">
			<div class="lr-site__bg-image"></div>
			<div lr-site>
				<div id="site-blocks" class="lr-site__blocks">
					<section lr-multi-column-block id="site-block--euiz11z19rm5mk4lh1tjmgdys" class="site-block block--html site-block--euiz11z19rm5mk4lh1tjmgdys multi-column-html--htmlonebytwo uniform-column-height">
		      	<!-- <div class="site-block__bg-image site-block__bg-image--euiz11z19rm5mk4lh1tjmgdys"></div> -->
		        	<div class="container">
								<div class="row">
									<div class="site-block__col-wrap col-md-6">
										<div lr-column class="site-block__col site-block__col--0 rel" style="height: 570px;">
											<!-- <div class="site-block__col-bg-image site-block__col-bg-image--0"></div> -->
											<div class="site-block__content">
												<br>
												<h1>
													<img src="img/clarity-care-mark.png" alt="" draggable="true">
													<span class="product-name">ClarityCare</span>
												</h1>
												<p>
													<span class="color--4">Maximizing the efficiency of your discharge planning and process through algorithmic workflow automation, care coordination tools and data driven accountability metrics.</span>
												</p>
												<p><span class="color--4">Our mission is to help you <strong>do more, better, faster.</strong></span><strong></strong></p>
												<p><span class="color--4">Get <span class="color--5">C</span><span class="color--5"><strong>larity</strong></span> in your Discharge Process.</span><br></p>
												<p><br></p>
											</div>
										</div>
									</div>
									<div class="site-block__col-wrap col-md-6">
										<div lr-column class="site-block__col site-block__col--1 rel">
											<div class="site-block__col-bg-image site-block__col-bg-image--1 stock-photo" style="height: 570px;"></div>
											<div class="site-block__content"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
					<section site-user-signup-block lr-multi-column-block id="site-block--1mx4n3unqtkkjpsso9pthwsw1" class="site-block site-block--site-user-signup  site-block--1mx4n3unqtkkjpsso9pthwsw1">
						<div class="site-block__bg-image site-block__bg-image--1mx4n3unqtkkjpsso9pthwsw1"></div>
						<div class="container">
							<div class="row">
								<div class="col-xs-12 site-block__col-wrap">
									<div lr-column class="site-block__col site-block__col--0">
										<div class="site-block__col-bg-image site-block__col-bg-image--0"></div>
										<div class="row">
											<div class="col-xs-12 site-user-signup__intro">
												<!-- <h1 style="text-align: center;">Private Beta</h1> -->
												<p style="text-align: center;">Interested in what we are doing? Reach out to us <a href="mailto:arman@claritycare.io" target="_blank">here</a>.</p>
											</div>
										</div>
										<!-- <div class="row">
											<div class="centered col-md-d col-sm-8 col-xs-10">
												<form
													id="site-user-signup__form--1mx4n3unqtkkjpsso9pthwsw1"
													class="form site-user-signup__form form-vertical site-user-signup__form--1mx4n3unqtkkjpsso9pthwsw1"
													name="form"
													ng-submit="submit()"
													novalidate>
													<div class="mt-table mt-table--width-100 mt-table--align-center">
														<div class="mt-td--centered-vertical site-user-signup__col-1">
															<div class="site-user-signup__form-group m-lg-v form-group">
																<label class="site-user-signup__label site-user-signup__label--full-name" for="site-user-signup__full-name--1mx4n3unqtkkjpsso9pthwsw1" ng-class="{validation: (form.fullName.$touched  || form.$submitted) && form.fullName.$invalid }">Invalid</label>
																<input
																	id="site-user-signup__full-name--1mx4n3unqtkkjpsso9pthwsw1"
																	class="form-control form-control__input site-user-signup__full-name site-user-signup__full-name--1mx4n3unqtkkjpsso9pthwsw1"
																	ng-model="siteUserSignup.fullName"
																	name="fullName"
																	ng-required="true"
																	type="text"
																	placeholder="Full Name"
																	aria-required="true"
																/>
															</div>
															<div class="site-user-signup__form-group m-lg-v form-group">
																<label class="site-user-signup__label site-user-signup__label--email" for="site-user-signup__email--1mx4n3unqtkkjpsso9pthwsw1" ng-class="{validation: (form.email.$touched  || form.$submitted) && form.email.$invalid }">Invalid</label>
																<input
																	id="site-user-signup__email--1mx4n3unqtkkjpsso9pthwsw1"
																	class="form-control form-control__input site-user-signup__email site-user-signup__email--1mx4n3unqtkkjpsso9pthwsw1"
																	ng-model="siteUserSignup.email"
																	ng-required="true"
																	ng-pattern="/^[a-zA-Z0-9+-_]+(\.[_a-zA-Z0-9+]+)*@[a-zA-Z0-9+-_]+(\.[a-zA-Z0-9+-_]+)*(\.[a-zA-Z]+)$/"
																	name="email"
																	type="email"
																	placeholder="Email"
																	aria-required="true"
																/>
															</div>
															<div class="site-user-signup__form-group m-lg-v form-group">
																<label class="site-user-signup__label site-user-signup__label--email" for="site-user-signup__email--1mx4n3unqtkkjpsso9pthwsw1" ng-class="{validation: (form.phone.$touched  || form.$submitted) && form.phone.$invalid }">Invalid</label>
																<input
																	id="site-user-signup__phone--1mx4n3unqtkkjpsso9pthwsw1"
																	class="form-control form-control__input site-user-signup__phone site-user-signup__phone--1mx4n3unqtkkjpsso9pthwsw1"
																	ng-model="siteUserSignup.phone"
																	ng-required="true"
																	name="phone"
																	type="phone"
																	placeholder="Phone"
																	aria-required="true"
																/>
															</div>
														</div>
														<div class="mt-td--centered-vertical site-user-signup__col-2">
															<div class="site-user-signup__form-group m-lg-v text-center">
																<button
																	id="site-user-signup__submit--1mx4n3unqtkkjpsso9pthwsw1"
																	type="submit"
																	class="btn btn-default submit site-user-signup__submit site-user-signup__submit--1mx4n3unqtkkjpsso9pthwsw1"
																><span>Submit</span></button>
															</div>
														</div>
													</div>
												</form>
											</div>
										</div> -->
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
	</body>
</html>
